
.bold {
    font-weight: 700;
}

.semi_bold {
    font-weight: 600;
}

.medium {
    font-weight: 500;
}

.regular {
    font-weight: 400;
}

.xl {
    font-family: "Manrope";
    font-style: normal;
    font-size: 50px;
    line-height: 66px;
    text-align: center;
    color: #080807;
}

.lgg {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 46px;
    line-height: 48px;
    text-align: center;
    color: #080807;
    @media (max-width: 640px) {
        font-size: 38px;
        line-height: 46px;
        text-transform: uppercase;
    }

}

.lg {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 30px;
    line-height: 37px;
    color: #080807;
    @media (max-width: 640px) {
        font-size: 24px;
        line-height: 29px;
    }
}

.mmd {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 40px;
    line-height: 49px;
    color: #080807;
    @media (max-width: 640px) {
        font-size: 32px;
        line-height: 39px;
    }
}

.unchangeable_mmd {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
}

.md {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 32px;
    line-height: 39px;
    color: #080807;

}

.sm {
    font-family: 'Manrope';
    font-style: normal;
    font-size: 24px;
    line-height: 34px;
    color: #080807;
    @media (max-width: 640px) {
        font-size: 20px;
        line-height: 24px;
    }
}

.ssm {
    font-family: 'Manrope';
    font-style: normal;
    font-size: 21px;
    line-height: 33px;
    text-align: center;
    color: #080807;
    opacity: 0.55;

}

.footer_l {

    font-family: 'Montserrat';
    font-style: normal;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
}

.footer_xs {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.footer_xxs {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 15px;
    line-height: 16px;
    color: #BDBDBD;
}

.footer_xxxs {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: #828282;

}

.footer_xs_small {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    color: #BDBDBD;
}

.footer_xs_regular {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.xs {
    font-family: 'Manrope';
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
    color: #080807;
}

.xxs {
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #080807;
}

.our_website_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 32px;
    line-height: 28px;
    color: #231F20;
}

.our_website_description {
    font-family: 'Manrope';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #231F20;
}

.text_decoration_none {
    text-decoration: none;
}

