:root {
    --primary-color: red;
    --swiper-pagination-bullet-color: #080807;
    --swiper-navigation-size: 30px !important;
}

#adaptive {
    margin: 0 auto;
    overflow-x: hidden;

    @media (max-width: 980px) {
        min-width: 768px;
        max-width: 768px;
    }

    @media (max-width: 520px) {
        max-width: 370px;
        min-width: 370px;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #FFFFFF;
}

button {
    border: none;
    background: none;
}

.overflow_hidden {
    overflow: hidden;
}


.section_container {
    width: min(1280px, 100%);
    margin-inline: auto;
    @media (max-width: 1360px) {
        padding-inline: 40px;
    }
    @media (max-width: 640px) {
        padding-inline: 8px;
    }
}


.swiper {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    overflow: hidden;
}

.height_width_full{
    width: 100%;
    height: 100%;
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.video_player_st{
    height: 100%;
    width: 100% ;
 object-fit: cover;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next, .swiper-button-prev {
    background: rgba(0, 0, 0, .5);
    min-height: 55px;
    min-width: 55px;
    border-radius: 50%;
    transition: 300ms;
    z-index: 11 !important;

    &:after {
        color: #ffffff;
        transition: 300ms;
    }

    @media (max-width: 640px) {
        top: auto !important;
        bottom: 10px ;
    }

    @media (hover: hover) {
        &:hover {
            background: #FACE68;

            &:after {
                color: #080807;
            }
        }
    }
}

.swiper-pagination-bullet {
    background: var(--swiper-pagination-bullet-color) !important;
}

.slider_info {
    height: 492px;
    width: 100%;
    @media (max-width: 1024px) {
        height: 800px;
        & .swiper-button-next, & .swiper-button-prev {
            top: 246px;
        }

        & .swiper-pagination {
            top: 472px !important;
        }
    }
    @media (max-width: 768px) {
        & .swiper-button-next, & .swiper-button-prev {
            display: none;
        }
    }
    @media (max-width: 640px) {
        & .swiper-button-next, & .swiper-button-prev {
            display: flex;
            top: 436px !important;
        }

        & .swiper-pagination {
            top: 446px !important;
        }
    }
    @media (max-width: 480px) {
        height: 860px;
    }
}

.text_decoration_none {
    text-decoration: none;
}

.display_none {
    display: none;
}


@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5
    }
    to {
        opacity: 1;
        scale: 1;
    }

}


.line_height_34 {
    line-height: 34px !important;
}


#car {

}
.color_green{
    color: #9CFF1E;
}
.color_yellow{
    color:#F0C45E;
}
.color_orange{
    color: #E29723;
}


/*path {*/
/*    stroke: rgba(35, 6, 6, 0.8); !* White stroke with some transparency *!*/
/*    stroke-width: 2; !* Stroke width *!*/
/*    fill: none; !* No fill color *!*/
/*    stroke-dasharray: 1000; !* Initial dash length *!*/
/*    stroke-dashoffset: 1000; !* Start hidden *!*/
/*    animation: draw 2s ease-in-out infinite; !* Continuous animation *!*/
/*}*/

/*@keyframes draw {*/
/*    0% {*/
/*        stroke-dashoffset: 1000; !* Start hidden *!*/
/*        stroke: #080807; !* Start with almost opaque *!*/
/*    }*/

/*    25% {*/
/*        stroke-dashoffset: 600; !* Partially revealed *!*/
/*        stroke: #323230; !* Slightly faded *!*/
/*    }*/

/*    50% {*/
/*        stroke-dashoffset: 300; !* Midway revealed *!*/
/*        stroke: #50504e; !* More faded *!*/
/*    }*/

/*    75% {*/
/*        stroke-dashoffset: 100; !* Almost fully revealed *!*/
/*        stroke: rgba(80, 80, 78, 0.11); !* Slightly faded back *!*/
/*    }*/

/*    100% {*/
/*        stroke-dashoffset: 0; !* Path fully revealed *!*/
/*        stroke: rgba(80, 80, 78, 0); !* Back to almost opaque *!*/
/*    }*/
/*}*/

/*#path_1 {*/
/*    stroke-dasharray: 1000; !* Make sure to match this with the path length *!*/
/*    animation: draw 3s ease-in-out infinite,  wiggle 1s ease-in-out infinite; !* Combine animations *!*/
/*}*/


/*@keyframes wiggle {*/
/*    0%, 100% {*/
/*        transform: translateY(0);*/
/*    }*/
/*    25% {*/
/*        transform: translateY(-2px); !* Reduce wiggle for subtlety *!*/
/*    }*/
/*    50% {*/
/*        transform: translateY(2px); !* Reduce wiggle for subtlety *!*/
/*    }*/
/*    75% {*/
/*        transform: translateY(-1px); !* Reduce wiggle for subtlety *!*/
/*    }*/
/*}*/

