.section_5 {
    width: 100%;
    margin-top: 77px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 96px;

    @media (max-width: 1024px) {
        margin-top: 90px;
    }
    @media (max-width: 640px) {
        margin-top: 130px;
        row-gap: 77px;
    }
}


.pulled_right_container {
    width: min(1594px, 100%);
    @media (max-width: 1360px) {
        padding-inline: 40px;
    }
    @media (max-width: 640px) {
        padding-inline: 8px;
    }

}

.block {
    padding-inline: 30px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1024px) {
        padding-inline: 0;
    }
    @media (max-width: 640px) {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 32px;
        padding-inline: 8px;
    }
}

.natural_ingredients_wrapper {
    height: 568px;
    width: 100%;

    @media (max-width: 1024px) {
        height: 440px ;
    }
    @media (max-width: 640px) {
        height: auto;
    }
}


.fermentation_image_wrapper {
    width: 481px;
    height: 469px;
    border-radius: 235px;
    overflow: hidden;
    @media (max-width: 1024px) {
        width: 405px;
        height: 394px;
    }
    @media (max-width: 640px) {
        width: min(315px, calc(100dvw - 48px));
        height: min(315px, calc(100dvw - 48px));
        transform: translate(8px, 18px);
        border-radius: 50%;
    }
}

.fermentation_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.natural_ingredients_advanced_texts {
    position: relative;
    width: 500px;
    height: max-content;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.natural_ingredients_image_wrapper {
    width: 1061px;
    height: 568px;
    border-radius: 267px;
    overflow: hidden;
    /*position: absolute;*/
    position: absolute;
    left: 48%;
    top: 0;
    @media (max-width: 1024px) {
        width: 737px;
        height: 440px;
        left: 58%;
    }
    @media (max-width: 640px) {
        position: initial;
        transform: translateX(8px);
    }
}

.natural_ingredients_image_wrapper_machine {
    width: 1280px;
    height: 795px;
    border-radius: 397px;
    overflow: hidden;
    position: absolute;
    top: 105px;
    left: 55%;
    @media (max-width: 1024px) {
        top: 40px;
        width: 750px;
        height: 467px;
    }
    @media (max-width: 768px) {
        left: 58%;
    }
    @media (max-width: 640px) {
        position: initial;
        transform: translateX(-200px);
        height: max(327px, 80dvw);
    }
    @media (max-width: 360px) {
        transform: translate(-58%, 15px);
    }
}

.natural_ingredients_image {
    width: 100%;
    height: 100%;
}

.block_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block_2 {
    @media (max-width: 1024px) {
        flex-direction: column;
        row-gap: 32px;
    }
}

.block1_text {
    width: 333px;
    @media (max-width: 1024px) {
        width: 300px;
    }
}

.block2_text {
    width: 333px;
    margin-right: 164px;
    @media (max-width: 1024px) {
        width: min(600px, 100%);
        margin-inline: auto;
    }
}

.block_3 {
    @media (max-width: 640px) {
        flex-direction: column;
        align-items: center;
        row-gap: 125px;
    }

    & > img {
        @media (max-width: 1024px) {
            width: 363px;
            height: 317px
        }
        @media (max-width: 768px) {
            transform: translateX(32px);
        }
        @media (max-width: 640px) {
            transform: translateX(0);
            width: calc(100dvw - 32px);
            height: auto;
            object-fit: cover;
        }
    }

}

.block3_texts {
    width: 462px;
    @media (max-width: 1024px) {
        width: 312px;
    }
    @media (max-width: 640px) {
        width: 100%;
        & > h2 {
            text-wrap: nowrap;
        }
    }
}

.block_4 {
    min-height: 1000px;
    width: 100%;
    margin-top: -100px;
    @media (max-width: 1024px) {
        margin-top: 100px;
    }
    @media (max-width: 640px) {
        margin-top: 0;
        & > div {
            display: flex;
            row-gap: 49px;
            flex-direction: column-reverse;
        }
    }
}

.block_4_texts {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 17px;
    width: 501px;
    height: max-content;
    @media (max-width: 1024px) {
        width: 362px;
    }
    @media (max-width: 768px) {
        width: 300px;
    }
    @media (max-width: 640px) {
        width: 100%;
    }

}

.machine_image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: -1 1;
}
